<?xml version="1.0"?>
<launch>
  <!-- Launch file to run the move base package on each robot -->
  <include file="$(find gspn_framework_package)/ros/TestCases/TemperaturePatrolV2/move_base_namespace.launch">
    <arg name="robot_namespace" value="robot_1" />
  </include>

  <include file="$(find gspn_framework_package)/ros/TestCases/TemperaturePatrolV2/move_base_namespace.launch">
    <arg name="robot_namespace" value="robot_2" />
  </include>
</launch>
