<?xml version="1.0"?>
<launch>

  <!-- Launch file to run and start the execution for each robot-->
  <param name="user_input_file" value="/home/pedro/catkin_ws/src/gspn_framework_package/ros/TestCases/TemperaturePatrolV2/temperature_patrol_input.json" />

  <node pkg="gspn_framework_package" ns="robot_1" type="gspn_execution_node.py" name="executor_1" output="screen">
    <param name="user_robot_id" value="1" />
    <param name="user_current_place" value="p1:Check_Temperature_L1" />
  </node>

  <node pkg="gspn_framework_package" ns="robot_2" type="gspn_execution_node.py" name="executor_2" output="screen">
    <param name="user_robot_id" value="2" />
    <param name="user_current_place" value="p5:Check_Temperature_L2" />
  </node>

  <node pkg="gspn_framework_package" ns="robot_3" type="gspn_execution_node.py" name="executor_3" output="screen">
    <param name="user_robot_id" value="3" />
    <param name="user_current_place" value="p9:Check_Temperature_L3" />
  </node>

  <node pkg="gspn_framework_package" ns="robot_4" type="gspn_execution_node.py" name="executor_4" output="screen">
    <param name="user_robot_id" value="4" />
    <param name="user_current_place" value="p13:Check_Temperature_L4" />
  </node>

</launch>
