<launch>
  <!-- Launch file to run the necessary robot packages -->

	<!-- Robot necessary packages -->
	<include file="$(find gspn_framework_package)/ros/TestCases/TemperaturePatrolV2/multi_robot_simulation_client.launch"/>
	<include file="$(find gspn_framework_package)/ros/TestCases/TemperaturePatrolV2/multi_robot_move_base.launch"/>
	<include file="$(find gspn_framework_package)/ros/TestCases/TemperaturePatrolV2/multi_robot_navigation.launch"/>

</launch>
