<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_waffle_pi.urdf.xacro" />

  <!-- BEGIN ROBOT 1-->
  <group ns="robot_1">
    <include file="$(find gspn_framework_package)/ros/TestCases/TemperaturePatrolV2/one_robot.launch" >
      <arg name="init_pose" value="-x 0 -y 2 -z 0" />
      <arg name="robot_name"  value="Robot1" />
      <arg name="name_space"  value="robot_1" />
    </include>
  </group>

  <!-- BEGIN ROBOT 2-->
  <group ns="robot_2">
    <include file="$(find gspn_framework_package)/ros/TestCases/TemperaturePatrolV2/one_robot.launch" >
      <arg name="init_pose" value="-x 2 -y 0 -z 0" />
      <arg name="robot_name"  value="Robot2" />
      <arg name="name_space"  value="robot_2" />
    </include>
  </group>

  <!-- BEGIN ROBOT 3
  <group ns="robot_3">
    <include file="$(find gspn_framework_package)/ros/TestCases/TemperaturePatrolV2/one_robot.launch" >
      <arg name="init_pose" value="-x 0 -y -2 -z 0" />
      <arg name="robot_name"  value="Robot3" />
      <arg name="name_space"  value="robot_3" />
    </include>
  </group>-->

  <!-- BEGIN ROBOT 4
  <group ns="robot_4">
    <include file="$(find gspn_framework_package)/ros/TestCases/TemperaturePatrol/one_robot.launch" >
      <arg name="init_pose" value="-x -2 -y 0 -z 0" />
      <arg name="robot_name"  value="Robot4" />
      <arg name="name_space"  value="robot_4" />
    </include>
  </group>-->
</launch>
