<launch>
	<!-- GSPN Servers-->
	<node pkg="gspn_framework_package" ns="robot_1" type="P1_no_gazebo_p_1_t.py" name="action_server_1" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P2_no_gazebo_p_1_t.py" name="action_server_2" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P3_no_gazebo_p_1_t.py" name="action_server_3" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P4_no_gazebo_p_1_t.py" name="action_server_4" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P5_no_gazebo_p_1_t.py" name="action_server_5" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P6_no_gazebo_p_1_t.py" name="action_server_6" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P7_no_gazebo_p_1_t.py" name="action_server_7" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P8_no_gazebo_p_1_t.py" name="action_server_8" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P9_no_gazebo_p_1_t.py" name="action_server_9" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P10_no_gazebo_p_1_t.py" name="action_server_10" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P11_no_gazebo_p_1_t.py" name="action_server_11" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P12_no_gazebo_p_1_t.py" name="action_server_12" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P13_no_gazebo_p_1_t.py" name="action_server_13" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P14_no_gazebo_p_1_t.py" name="action_server_14" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P15_no_gazebo_p_1_t.py" name="action_server_15" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P16_no_gazebo_p_1_t.py" name="action_server_16" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P17_no_gazebo_p_1_t.py" name="action_server_17" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P18_no_gazebo_p_1_t.py" name="action_server_18" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P19_no_gazebo_p_1_t.py" name="action_server_19" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P20_no_gazebo_p_1_t.py" name="action_server_20" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P21_no_gazebo_p_1_t.py" name="action_server_21" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P22_no_gazebo_p_1_t.py" name="action_server_22" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P23_no_gazebo_p_1_t.py" name="action_server_23" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P24_no_gazebo_p_1_t.py" name="action_server_24" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P25_no_gazebo_p_1_t.py" name="action_server_25" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P26_no_gazebo_p_1_t.py" name="action_server_26" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P27_no_gazebo_p_1_t.py" name="action_server_27" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P28_no_gazebo_p_1_t.py" name="action_server_28" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P29_no_gazebo_p_1_t.py" name="action_server_29" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P30_no_gazebo_p_1_t.py" name="action_server_30" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P31_no_gazebo_p_1_t.py" name="action_server_31" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P32_no_gazebo_p_1_t.py" name="action_server_32" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P33_no_gazebo_p_1_t.py" name="action_server_33" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P34_no_gazebo_p_1_t.py" name="action_server_34" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P35_no_gazebo_p_1_t.py" name="action_server_35" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P36_no_gazebo_p_1_t.py" name="action_server_36" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P37_no_gazebo_p_1_t.py" name="action_server_37" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P38_no_gazebo_p_1_t.py" name="action_server_38" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P39_no_gazebo_p_1_t.py" name="action_server_39" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P40_no_gazebo_p_1_t.py" name="action_server_40" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P41_no_gazebo_p_1_t.py" name="action_server_41" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P42_no_gazebo_p_1_t.py" name="action_server_42" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P43_no_gazebo_p_1_t.py" name="action_server_43" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P44_no_gazebo_p_1_t.py" name="action_server_44" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P45_no_gazebo_p_1_t.py" name="action_server_45" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P46_no_gazebo_p_1_t.py" name="action_server_46" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P47_no_gazebo_p_1_t.py" name="action_server_47" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P48_no_gazebo_p_1_t.py" name="action_server_48" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P49_no_gazebo_p_1_t.py" name="action_server_49" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P50_no_gazebo_p_1_t.py" name="action_server_50" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P51_no_gazebo_p_1_t.py" name="action_server_51" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P52_no_gazebo_p_1_t.py" name="action_server_52" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P53_no_gazebo_p_1_t.py" name="action_server_53" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P54_no_gazebo_p_1_t.py" name="action_server_54" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P55_no_gazebo_p_1_t.py" name="action_server_55" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P56_no_gazebo_p_1_t.py" name="action_server_56" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P57_no_gazebo_p_1_t.py" name="action_server_57" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P58_no_gazebo_p_1_t.py" name="action_server_58" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P59_no_gazebo_p_1_t.py" name="action_server_59" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P60_no_gazebo_p_1_t.py" name="action_server_60" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P61_no_gazebo_p_1_t.py" name="action_server_61" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P62_no_gazebo_p_1_t.py" name="action_server_62" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P63_no_gazebo_p_1_t.py" name="action_server_63" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P64_no_gazebo_p_1_t.py" name="action_server_64" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P65_no_gazebo_p_1_t.py" name="action_server_65" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P66_no_gazebo_p_1_t.py" name="action_server_66" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P67_no_gazebo_p_1_t.py" name="action_server_67" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P68_no_gazebo_p_1_t.py" name="action_server_68" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P69_no_gazebo_p_1_t.py" name="action_server_69" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P70_no_gazebo_p_1_t.py" name="action_server_70" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P71_no_gazebo_p_1_t.py" name="action_server_71" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P72_no_gazebo_p_1_t.py" name="action_server_72" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P73_no_gazebo_p_1_t.py" name="action_server_73" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P74_no_gazebo_p_1_t.py" name="action_server_74" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P75_no_gazebo_p_1_t.py" name="action_server_75" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P76_no_gazebo_p_1_t.py" name="action_server_76" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P77_no_gazebo_p_1_t.py" name="action_server_77" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P78_no_gazebo_p_1_t.py" name="action_server_78" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P79_no_gazebo_p_1_t.py" name="action_server_79" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P80_no_gazebo_p_1_t.py" name="action_server_80" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P81_no_gazebo_p_1_t.py" name="action_server_81" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P82_no_gazebo_p_1_t.py" name="action_server_82" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P83_no_gazebo_p_1_t.py" name="action_server_83" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P84_no_gazebo_p_1_t.py" name="action_server_84" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P85_no_gazebo_p_1_t.py" name="action_server_85" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P86_no_gazebo_p_1_t.py" name="action_server_86" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P87_no_gazebo_p_1_t.py" name="action_server_87" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P88_no_gazebo_p_1_t.py" name="action_server_88" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P89_no_gazebo_p_1_t.py" name="action_server_89" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P90_no_gazebo_p_1_t.py" name="action_server_90" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P91_no_gazebo_p_1_t.py" name="action_server_91" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P92_no_gazebo_p_1_t.py" name="action_server_92" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P93_no_gazebo_p_1_t.py" name="action_server_93" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P94_no_gazebo_p_1_t.py" name="action_server_94" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P95_no_gazebo_p_1_t.py" name="action_server_95" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P96_no_gazebo_p_1_t.py" name="action_server_96" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P97_no_gazebo_p_1_t.py" name="action_server_97" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P98_no_gazebo_p_1_t.py" name="action_server_98" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P99_no_gazebo_p_1_t.py" name="action_server_99" output="screen"/>
	<node pkg="gspn_framework_package" ns="robot_1" type="P100_no_gazebo_p_1_t.py" name="action_server_100" output="screen"/>


	<!-- Online Visualization -->
  <param name="user_input_file" value="/home/pedro/catkin_ws/src/gspn_framework_package/ros/TestCases/NoGazeboPlacesOneToken/no_gazebo_p_1_t_input.json" />

  <node pkg="gspn_framework_package" type="gspn_online_visualization_node.py" name="gspn_online_visualization" output="screen"/>

</launch>
